/**
 * Created by Pompo on 19.06.2017.
 */
html, body{
  height: 100%;
  font-size: 16px;
}

body{
  font-family: "PT Sans", sans-serif;
  color: $black;
}

a{
  outline: none !important;
}

*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

.container{

  @extend %container;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.unit-row{
  display: flex;
  justify-content: space-between;

  @include respondTo(mobile){
    flex-direction: column;
  }
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}