/**
 * Created by Pompo on 19.06.2017.
 */
html, body{
  height: 100%;
  font-size: 16px;
}

body{
  font-family: "PT Sans", sans-serif;
  color: $black;
}

a{
  outline: none !important;
}

*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

.container{

  @extend %container;
}