/**
 * Created by Pompo on 08.08.2017.
 */
.contact{

  & .section-title{
    text-align: left;
  }

  &__row{
    display: flex;
    padding-bottom: 1em;
  }

  &__lbl{
    width: 120px;
    color: $main-color;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.5;

    @include respondTo(small){
      width: 100px;
    }
  }

  &__info{
    line-height: 1.5;
    width: calc(100% - 150px);

    @include respondTo(small){
      width: calc(100% - 120px);
    }
    
    & a{
      color: $black;
      text-decoration: none;
      transition: color ease .3s;

      &:hover{
        color: $action-color;
      }
    }
  }
}