.param{
    width: 35%;
    margin-right: 5%;

    @include respondTo(mobile){
        width: 100%;
    }

    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__txt{
        font-size: 1.2em;
        color: $black;
        line-height: 1.2;

        @include respondTo(tablet){
            font-size: 1em;
        }
    }

    &__ico{
        margin-right: 1.5rem;
        @include respondTo(tablet){
            margin-right: 1rem;
        }

        & img{
            width: 50px;
            height: 50px;

            @include respondTo(tablet){
                width: 40px;
                height: 40px;
            }
        }
    }
}

.view-param{
    width: 60%;

    @include respondTo(mobile){
        width: 100%;
    }

    & p{
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 2em;
        font-weight: 400;

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}