/**
 * Created by Pompo on 22.06.2017.
 */
.section{
  padding: 3.5rem 0;

  @include respondTo(mobile){
    padding: 2.5rem 0;
  }

  &_bg-white{
    background-color: $white;
  }
  
  &_bg-gray{
     border-top: 1px solid $border-color;
     border-bottom: 1px solid $border-color;
    background-color: $bg-color;
  }

  &__btn{
    text-align: center;
    margin-top: 2.5rem;
  }
}