/**
 * Created by Pompo on 08.08.2017.
 */
.table{
  width: 100%;
  border: 1px solid $border-color;
  margin: 1em 0 3em;

  & th{
    font-weight: 700;
    text-align: center;
    font-size: 1.1em;
  }

  & td, th{
    padding: .75em;
    vertical-align: middle;
    border: 1px solid $border-color;
    line-height: 1.35;
  }

  & td{
    font-size: .85em;
  }
  
  & tr{
    &:nth-child(2n){
      background-color: #f2f2f2;
    }
  }
}